.container{
background-color: rgba(0, 0, 0, 0.342);
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 100px);
justify-content: center;
align-items: center;
row-gap: 5px;
column-gap: 5px;
}

.itmes{
    background-color: rgba(0, 255, 255, 0.297);
    border: 1px solid black;
    padding: 20px 30px;
    margin: 5px ;
    display: flex;
    align-items: center;
    justify-content: center;
}