*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: #333;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul span{
    display: flex;
    
}
nav li{
    list-style: none;
    float: left;
}
nav li a {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    display: block;
}
nav li a:hover {
    background-color: #111;
}
.active{
    background-color: #04AA6D;
}
.active:hover{
    background-color: #04aa6d93;
}

/* form  */
form{
    width: 50%;
    margin: 30px auto;
    gap: 20px;
    border: 2px solid tomato;
    text-align: center;
}
input{
   display: block;
}